*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /* 1rem = 10px */
    font-size: 62.5%;
}

body{
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
    color: #333;
    line-height: 1.5;
    font-size: 1.6rem;

    background: white;
    color: black;

    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
}

h2 {
    color: black;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    background-color: #0057AD;
    color: white;
    padding: 1rem 2rem;
    font-size: 1.6rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    transition: background-color 0.3s ease;
}

header,
footer {
    background-color: #fff;
    color: #333;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
}

.div-log{
    margin-left: 2rem;
    font-size: 3rem;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: black;
}

.logo,
.header-nav ul li a{
    color: inherit;
    text-decoration: none;
    font-size: 2.4rem;
    padding: 2rem;
    display: inline-block;
}

.header-nav {
    margin-left: 2rem;
}

.header-nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 2rem;
}

footer nav ul li {
    padding: 1rem;
    list-style: none;
}

/* ------------------------- */
/*           HOME            */
/* ------------------------- */

.titulo-home{
    margin: 3rem 0;
    text-align: center;
}

.titulo-productos{
    margin: 3rem 0;
    text-align: center;
}

.parrafo{
    width: 80%;
    padding: 3rem;
    text-align: center;
    font-size: 1.8rem;
}

.contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card{
    background: white;
    color: black;
    width: 40rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    overflow: hidden;

    text-align: center;
    transition: transform 0.3s ease;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 2rem;
    gap: 1rem;
}

.card img{
    width: 100%;
    height: 25rem;
    object-fit: scale-down;
}

/* ------------------------- */
/*         Contacto          */
/* ------------------------- */

.titulo-contacto {
    margin: 2rem 0;
}


.form-contacto {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    min-width: 300px;
    max-width: 50rem;
    font-size: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0,
 0, 0.3) 0px 3px 7px -3px;}   

 .grupo-input {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
 }

 .grupo-input input,
    .grupo-input textarea {
    padding: 1rem;
    font-size: 1.6rem;
    border: none;
    background-color: #f0f0f0;
    border-bottom: #333 0.2rem solid;
    border-radius: 0.5rem;
    width: 100%;
 }

/* ------------------------- */
/*           MEDIA           */
/* ------------------------- */

@media (max-width: 768px) {
    header, footer {
        flex-direction: column;
        align-items: center;
        display: flex;
    }

    header .div-logo,
    .header-nav {
        margin: 0;
        text-align: center;
    }

    .contenedor-productos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}